/* ======================================= 
                 --MISCELLAENOUS 
 ======================================= */
:root {
  --primary-color: #ead573;
  --secondary-color: #4da056;
}
* {
  margin: 0vw;
  padding: 0vw;
  box-sizing: border-box;
}

/* ======================================= 
                 --LAYOUT 
 ======================================= */

.content-wrapper,
#nav-links-container,
#nav-container,
.right-content-wrapper,
.left-content-wrapper,
.about-wrapper,
.benefits-wrapper,
.testi-wrapper,
.testi-left-content,
.photo-wrapper,
.form-wrapper {
  display: flex;
  /* outline: 1px solid black; */
}

.form-field input,
textarea {
  display: block;
}

.about-wrapper h2 {
  height: 20%;
}

.benefits-wrapper {
  align-items: center;
  justify-content: center;
  height: 80%;
}

.right-content-wrapper,
.photo-wrapper {
  align-items: center;
  justify-content: center;
}

.benefits-card {
  text-align: center;
}

.home-content,
.testi-wrapper {
  margin-top: 13vh;
  /* outline: 1px black solid; */
}

.left-content-wrapper,
.testi-left-content {
  flex-direction: column;
  justify-content: center;
}

.left-content-wrapper,
.testi-left-content {
  margin-left: 10%;
}

.left-content-wrapper p,
.left-content-wrapper a,
#about h2,
.benefits-wrapper h3,
.testi-left-content quote,
.testi-left-content h3,
form h3,
form {
  margin-top: 1em;
}

form h3 {
  margin-bottom: 1em;
}

#get-started {
  color: white;
}

.left-content-wrapper a {
  text-align: center;
  padding: 1em 2em;
  width: 10em;
  border-radius: 1em;
  background-color: black;
}

.left-content-wrapper a,
.benefits-card,
.photo-wrapper img,
form {
  box-shadow: 0.1em 0.8em 1em rgb(15, 15, 15);
}

section,
.about-wrapper {
  height: 100vh;
}

#nav-links-container {
  align-items: center;
  margin-left: 40vw;
  /* float: right; */
}

#product-name {
  margin-left: 0.3em;
  font-size: 1.2rem;
}

/* ======================================= 
                 --COMPONENTS 
 ======================================= */

.contact-wrapper {
  width: 100%;
}

form {
  background-color: whitesmoke;
  padding: 1em 4em 1em 4em;
  border-radius: 1em;
}

.form-field {
  /* padding: 1em; */
  margin-bottom: 1em;
}

.form-field input,
.form-field textarea {
  border-radius: 1em;
  padding: 0.2em;
}

.submit,
.form-field input,
.form-field textarea {
  width: 100%;
}

.submit {
  color: white;
}

.form-field input {
  height: 2em;
}

.product-logo img {
  margin-left: 3em;
  height: 1em;
  width: 1em;
}

.photo-wrapper img {
  /* height: 30em; */
  height: 30em;
}

.benefits-card h3 {
  color: var(--secondary-color);
}

.benefits-card img {
  margin-top: 40%;
  height: 10vh;
  width: 10vh;
}

.benefits-card {
  background-color: white;
  /* outline: 1px solid black; */
  height: 20em;
  width: 17em;
  border-radius: 1em;
  margin: 1.5em;
}

.about-wrapper,
.form-wrapper {
  flex-direction: column;
  align-items: center;
  /* outline: 1px solid black; */
}

.home-content,
.testi-left-content,
.photo-wrapper {
  width: 50%;
}

.content-wrapper {
  height: 100vh;
}

.colored-text {
  color: #4da056;
}

video {
  width: 85%;
  height: 75%;
}

#nav-container {
  width: 100vw;
  background-color: var(--primary-color);
  height: 13vh;
  align-items: center;
  position: fixed;
  z-index: 10;
}
.nav-link {
  margin: 3vw 0vw 0vw 5vw;
  font-size: 1.2rem;
}

.button {
  background-color: var(--secondary-color);
  width: 10vw;
  height: 2vw;
  padding: 0.7em 1.5em 0.7em 1.5em;
  border-radius: 1.5em;
}

a {
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited,
a:active {
  color: black;
}

nav-contact:hover,
a:hover,
.left-content-wrapper p {
  opacity: 0.7;
}

.nav-link:hover,
.product-logo a:hover {
  text-decoration: underline;
}

#nav-contact {
  color: white;
}

ul {
  list-style: none;
}

/* ======================================= 
                 --TYPOGRAPHY 
 ======================================= */

h1,
h2 {
  font-family: 'Playfair Display', Serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

body,
textarea {
  font-family: 'Source Sans Pro', Sans-Serif;
  font-size: 1rem;
}
